/* A simple CSS Reset */
*, *::before, *::after {
    box-sizing: border-box;
}

body, h1, h2, h3, p, figure, blockquote, ul, ol {
    margin: 0;
}

ul, ol {
    padding: 0;
    list-style: none;
}

html {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

img, picture {
    max-width: 100%;
    display: block;
}

input, button, textarea, select {
    font: inherit;
}